
.some-style{
    font-size: 25px;
    background-color: blue;
    color: white;
  
}

$bg-primaryHover: #1068BF;
$bg-primaryDefault: #1F75CB;
$bg-primaryActive: #0B5CAD;
$bg-disabled: #DCDCDE;
$bg-secondary: #FFFFFF;
$bg-secondaryHover: #ECECEF;
$bg-secondaryActive: #DCDCDE;

$border-default: rgba(0, 0, 0, 0.15);
$border-hover: rgba(18, 19, 22, 0.5);
$border-active: #1C1C1C;
$border-error: #EE4222;
$border-disabled: rgba(0, 0, 0, 0.15);
$border-bronze: #9E6955;

$font-primaryDefault: #1C1C1C;
$font-secondary: #FFFFFF;
$font-disabled: #8E8E8E;
$font-error: #EE4222;
$font-placeholder: #D9D9D9;

.some-style{
    font-size: 100px;
    background-color: red;
  
}