@import './color.scss';
@import './null.scss';






body {
    background: white;
   
}


.picture{
    height: 100px;
    width: 100px;
}


//general styles
.avatar-img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0px 14px 0px 0px;
}




.show {
    display: block;
}

.hide {
    display: none;
}

